<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="../style.css">
  </head>
  <body>
    <div class="container">
      <input type="text" placeholder="Company Name" ng-model="company">
      <input type="date" ng-model="duedate">
      <input type="text" placeholder="# of Pieces" ng-model="pieces">
      Hard Date: <input type="checkbox" ng-model="harddate"> Yes<br>
      <input type="text" placeholder="Notes" ng-model="notes">

      <button ng-click="addjob()">Add Job</button>
      <div class="displaySuccess" ng-show="success">
        <p>Job for {{job}} successfully added!<br>
        Number of Pieces: {{number}}<br>
        Due Date: {{date}}<br>
        Completed: False <br>
        Hard Date: {{harddate}}<br>
        Notes: {{notes}}</p>
      </div>
    </div>
  </body>
</html>
