
    <div class="container">
      <div class="addjobbox">
        <div class="addjob">
          <label>Company Name:</label><input type="text"  ng-model="company">
          <label>Date:</label><input type="date" ng-model="duedate">
          <label>Number of Pieces:</label><input type="text"  ng-model="pieces">
          <label>Hard Date:</label> <input type="checkbox" ng-model="harddate"> Yes<br>
          <label>Notes:</label><br>
          <textarea name="Text1" cols="80" rows="2"  ng-model="notes"></textarea><br>

          <button ng-click="addjob()">Add Job</button>
          <div class="displaySuccess" ng-show="success">
            <p>Job for {{job}} successfully added!<br>
            Number of Pieces: {{number}}<br>
            Due Date: {{date}}<br>
            Completed: False <br>
            Hard Date: {{harddate}}<br>
            Notes: {{notes}}</p>
          </div>
        </div>
      </div>
    </div>
