
    <div class="container">
      <div class="row main mainOne">
        <div class='row week firstWeek'>
          <div class="day Monday">
            <div class="job firstjob">{{dateMonOne}}</div>
            <div class="job" ng-repeat="job in alljobs">
              {{job.company}} Pieces:{{job.pieces}} Due: {{job.duedate}}
            </div>
            <!-- <div class="job"></div>
            <div class="job"></div>
            <div class="job"></div>
            <div class="job"></div>
            <div class="job"></div> -->
          </div>
          <div class="day Tuesday">
            <div class="job firstjob" ng-model="dateTues1"></div>
            <div class="job"></div>
            <div class="job"></div>
            <div class="job"></div>
            <div class="job"></div>
            <div class="job"></div>
            <div class="job"></div>
          </div>
          <div class="day Wednesday">
            <div class="job firstjob" ng-model="dateWed1"></div>
            <div class="job"></div>
            <div class="job"></div>
            <div class="job"></div>
            <div class="job"></div>
            <div class="job"></div>
            <div class="job"></div>
          </div>
          <div class="day Thursday">
            <div class="job firstjob" ng-model="dateThurs1"></div>
            <div class="job"></div>
            <div class="job"></div>
            <div class="job"></div>
            <div class="job"></div>
            <div class="job"></div>
            <div class="job"></div>
          </div>
          <div class="day Friday">
            <div class="job firstjob" ng-model="dateFri1"></div>
            <div class="job"></div>
            <div class="job"></div>
            <div class="job"></div>
            <div class="job"></div>
            <div class="job"></div>
            <div class="job"></div>
          </div>
        </div>
      </div>
      <div class="row main mainTwo">
        <div class='week firstWeek'>
          <div class="day Monday">
            <div class="job firstjob" ng-model="dateMon2"></div>
            <div class="job"></div>
            <div class="job"></div>
            <div class="job"></div>
            <div class="job"></div>
            <div class="job"></div>
            <div class="job"></div>
          </div>
          <div class="day Tuesday">
            <div class="job firstjob" ng-model="dateTues2"></div>
            <div class="job"></div>
            <div class="job"></div>
            <div class="job"></div>
            <div class="job"></div>
            <div class="job"></div>
            <div class="job"></div>
          </div>
          <div class="day Wednesday">
            <div class="job firstjob" ng-model="dateWed2"></div>
            <div class="job"></div>
            <div class="job"></div>
            <div class="job"></div>
            <div class="job"></div>
            <div class="job"></div>
            <div class="job"></div>
          </div>
          <div class="day Thursday">
            <div class="job firstjob" ng-model="dateThurs2"></div>
            <div class="job"></div>
            <div class="job"></div>
            <div class="job"></div>
            <div class="job"></div>
            <div class="job"></div>
            <div class="job"></div>
          </div>
          <div class="day Friday">
            <div class="job firstjob" ng-model="dateFri2"></div>
            <div class="job"></div>
            <div class="job"></div>
            <div class="job"></div>
            <div class="job"></div>
            <div class="job"></div>
            <div class="job"></div>
          </div>
        </div>
      </div>
    </div>
