.headerClass {
  flex-grow: 1;
  background-color: white;
  margin: 0;
  padding: 0;
  flex-direction: row;
  display: flex;
}

a {
  color: inherit;;
  text-decoration: none; /* no underline */
}

html, body{
  height: 100%;
  background-color: grey;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  flex-grow: 8;
  margin: 1vw 1vw 0 1vw;
}

footer {
  height: 10%;
}

.day {
  background-color: white;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 5px;
  overflow: auto;
  width: 100px;
}

.week {
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main {
  background-color: pink;
  height: 40vh;

}
.job {
  background-color: beige;
  margin: 5px;
  height: 4vh;
  display: flex;
  align-items: center;
  padding: 10px;

}
.row {
  margin: 0;
}
.firstjob {
  background-color: white;
  text-align: center;
  justify-content: center;
}
.kingsTitle {
  padding: 0;
  margin: 0;
  width: 40vw;
}
h1 {
  font-size: 3em;
  padding: 0;
  margin: 0;
}
.plus {
  width: 40vw;
  font-size: 3em;
  text-align: right;
}

.deleteedit {
  float: right;
  margin-left: auto;
}

button {
  margin: 2px;
}
